.about-container {
    justify-self: center;
    align-self: start;

    margin-top: 5vh;
}

.about-btn {
    color: rgb(189, 189, 189);
    cursor: pointer;

    user-select: none;
}

.close-offcanvas-btn {
    color: rgb(189, 189, 189);
    cursor: pointer;
}

.about-content-container {
    >p {
        font-style: italic;
    }
}

.single-graph-container {
    display: flex;
    justify-content: flex-start;
}

.graph {
    display: flex;
    justify-content: center;
    align-items: center;

    color: black;

    margin-top: 20px;
    border-radius: 50px;

    height: 20px;
}

.pomodoro-graph {
    width: 50%;
    background-color: rgb(69, 141, 69);
}

.graph-one-break {
    width: 30%;
    background-color: rgb(34, 136, 34);
}

.graph-two-break {
    width: 50%;
    background-color: rgb(34, 136, 34);
}