.task-form {
    display: grid;
    align-items: center;
    justify-content: center;

    grid-template-columns: 200px 100px;

    margin: 5px 0px 20px 0px;

    user-select: none;
}

#task-name {
    background-color: rgb(167, 167, 167);
    border-color: rgba(255, 255, 255, 0);

    width: 200px;
    height: 50px;
}

#task-name:focus {
    background-color: rgb(255, 255, 255);
}

.btn-add {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 5px;
    height: 50px;
}

.btn-add:hover {
    border: 1px solid;
}

.no-task-added {
    color: grey;
    font-style: italic;
}

.card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(46, 44, 44);
    border: 1px solid rgb(46, 44, 44);
    border-radius: 50px;

    color: white;
    user-select: none;
    font-size: large;

    padding: 10px;
    margin-bottom: 10px;

    word-wrap: break-word;
}

.card-body:hover {
    border: 1px solid rgb(94, 94, 94);
}

.task-title {
    margin: 10px;
}

.icon-delete {
    cursor: pointer;

    color: rgb(107, 107, 107);

    margin: 5px 10px 5px 5px;
}

.icon-delete:hover {
    color: rgb(223, 223, 223);
}