.tasks-sidebar-container {
    justify-self: center;
    align-self: start;

    margin-top: 5vh;
    user-select: none;
}

.task-sidebar-btn {
    color: rgb(189, 189, 189);
    cursor: pointer;
}

.task-sidebar-btn:hover {
    color: white;
}

.close-offcanvas-btn {
    color: rgb(189, 189, 189);
    cursor: pointer;
}

.close-offcanvas-btn:hover {
    color: white;

    animation: rotateCloseButton;
    animation-duration: 500ms;
}

@keyframes rotateCloseButton {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}