.timer-container {
  justify-content: center;
  justify-self: center;

  text-align: center;
  color: white;

  width: 250px;
  height: 250px;

  padding: 20px;

  user-select: none;
}

.timer-mode {
  font-size: 20px;
  font-weight: bold;
}

.timer-time {
  font-size: 36px;
  margin: 20px 0px 20px 0px;
}

.pomodoro-counter {
  margin-top: 15px;
  margin-bottom: 20px;
}

.timer-buttons button {
  margin: 5px;
  padding: 1px;
}